---
const { title } = Astro.props;
import '../styles/global.css';

---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <slot /> <!-- Tout le contenu des pages ira ici -->
  </body>
</html>

